@tailwind base;
@tailwind components;
@tailwind utilities;

:root  {
    --background: 315 100% 97%;
    --foreground: 315 5% 10%;
    --card: 315 50% 97%;
    --card-foreground: 315 5% 15%;
    --popover: 315 100% 97%;
    --popover-foreground: 315 100% 10%;
    --primary: 315 77% 76%;
    --primary-foreground: 0 0% 0%;
    --secondary: 315 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 277 30% 95%;
    --muted-foreground: 315 5% 40%;
    --accent: 277 30% 90%;
    --accent-foreground: 315 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 315 5% 97%;
    --border: 315 30% 82%;
    --input: 315 30% 50%;
    --ring: 315 77% 76%;
    --radius: 1rem;
  }
  .dark  {
    --background: 315 50% 10%;
    --foreground: 315 5% 97%;
    --card: 315 50% 10%;
    --card-foreground: 315 5% 97%;
    --popover: 315 50% 5%;
    --popover-foreground: 315 5% 97%;
    --primary: 315 77% 76%;
    --primary-foreground: 0 0% 0%;
    --secondary: 315 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 277 30% 25%;
    --muted-foreground: 315 5% 65%;
    --accent: 277 30% 25%;
    --accent-foreground: 315 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 315 5% 97%;
    --border: 315 30% 50%;
    --input: 315 30% 50%;
    --ring: 315 77% 76%;
    --radius: 1rem;
}
  
  